*{
    --header-footer: #FFFFFF;
    --fundo-main:rgba(243, 243, 243, 1);
    --tempo-objeto: #AAAAAA;
}

body{
    font-family: 'Roboto', 'sans-serif';
}

/* ESTILIZAÇÃO DO TOPO DA PÁGINA */
header{
    width: 100vw;
    height: 80px;
    background-color: var(--header-footer);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
    cursor: pointer;
}

header ion-icon{
    font-size: 45px;
    margin-right: 22px;
    cursor: pointer;
}

/* ESTILIZAÇÃO DO CORPO DA PÁGINA */
main{
    background-color: var(--fundo-main);
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 1;
}

main nav{
    padding: 26px 0;
}

.mensagem-exibida{
    min-height: 40px;
    border-radius: 2px;
    background-color: var(--header-footer);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding: 0 9px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    white-space: wrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.status{
    background: rgba(220, 220, 220, 1);
}
.reservadamente{
    background: rgba(255, 222, 222, 1);
}

.mensagem-exibida small{
    color: var(--tempo-objeto);
}
.mensagem-exibida strong{
    font-weight: 700;
    margin-left: 6px;
}
.mensagem-exibida span{
    margin-left: 6px;
}

/* ESTILIZAÇÃO DO RODAPÉ DA PÁGINA */
footer{
    width: 100vw;
    height: 80px;
    background-color: var(--header-footer);
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .mensagem-reservadamente{
    margin-left: 18px;
    color: rgba(0, 0, 0, 1);
    font-style: italic;
    line-height: 24px;
}

.mensagem-reservadamente input{
    width: 400px;
    height: 30px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

.mensagem-reservadamente p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

footer div ion-icon{
    font-size: 26px;
    margin-right: 18px;
    cursor: pointer;
}

/* ESTILIZAÇÃO TELA DE PARTICIPANTES */
.tela-participantes{
    width: 70vw;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -25vh 0px 0px 0px rgba(0,0,0,0.55);
}

.topo-participante{
    width: 259px;
    height: 84px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topo-participante p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.todos-participantes{
    width: 100%;
    height: 36px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.perfil-participantes p{
    margin-left: 7px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.opcao-participantes{
    width: 100%;
    height: 36px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.tela-participantes ion-icon{
    font-size: 25px;
}

.visibilidade-mensagem{
    margin-top: 10px;
}

.topo-visibilidade{
    width: 259px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topo-visibilidade p{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}

.visibilidade-publico{
    width: 100%;
    height: 36px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 17px;
}

.opcao-mensagem img{
   width: 22px;
   height: 22px;
}

.opcao-mensagem p{
    margin-left: 7px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.visibilidade-reservadamente{
    width: 100%;
    height: 36px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 17px;
}

.sair-tela-participantes{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sair-tela-participantes div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sair-tela-participantes h1{
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    background-color: rgb(226, 55, 55);
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.sair-tela-participantes ion-icon{
    margin-right: 17px;
    font-size: 22px;
    cursor: pointer;
}

/* ESTILIZAÇÃO TELA DE ENTRADA */
.tela-de-entrada{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-footer)
}

.tela-de-entrada section{
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 130px;
}

.tela-de-entrada figure{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-de-entrada figure img{
    width: 130px;
    height: 92px;
    cursor: pointer;
}

.tela-de-entrada .entrada-usuario{
    margin-top: 80px;
}

.entrada-usuario input{
    width: 261px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid rgba(215, 215, 215, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: rgba(174, 174, 174, 1);
    cursor: pointer;
}

.tela-de-entrada .botao-entrada {
    margin-top: 20px;
}

.botao-entrada button{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    background: rgba(231, 231, 231, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: rgba(105, 105, 105, 1);
    cursor: pointer;
}

.usuarios-disponiveis{
    height: 340px;
    overflow-y: scroll;
}

/* CLASSES GERAIS DE MANIPULAÇÃO */
.escondido{
    display: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecionado{
    box-shadow: 0 0 0 1px rgba(50, 183, 47, 1);
}

.opacidade{
    opacity: 0;
}

.todos-participantes.selecionado .opacidade{
    opacity: 1;
}

.visibilidade-mensagem .mensagem.selecionado .opacidade{
    opacity: 1;
}